* {
  box-sizing: border-box;
}

@keyframes appear {
  0% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  height: 100vh;
}

.wrapper {
  background: white;
  color: black;
}

.wrapper:active, .wrapper.touched {
  background: black;
  color: white;
}

a { color: black; }
.wrapper:active a, .wrapper.touched a { color: white; }

/* .footer { } */

a.wrapping-a {
  text-decoration: none;
}

svg { fill: black; float: left; }
.wrapper:active svg, .wrapper.touched svg { fill: white }

.wrapper {
  height: 100%;
  padding: 2rem;
}

.hero {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.esistdo, .announcement {
  animation: 0.3s appear ease;
}

.esistdo {
  height: 90%;
  width: 100%;
}

.announcement {
  display: inline-block;
  transform-origin: 0% 50%;
  /* 800 because Android uses normal weight of local file otherwise */
  font-weight: 800;
  overflow-wrap: break-word;
  text-transform: uppercase;
  font-size: 5rem;
}

.announcement > .block {
  display: block;
}

.portrait, .landscape {
  width: 100%;
  max-height: 100%;
}

.wrapper .hoveronly,
.wrapper:active .nohoveronly,
.wrapper.touched .nohoveronly { height: 0; visibility: hidden; }

.wrapper .nohoveronly,
.wrapper:active .hoveronly,
.wrapper.touched .hoveronly { height: 100%; visibility: visible; }

.hidden {
  display: none;
}

@media (orientation: landscape) {
  .portrait { display: none; }
}

@media (orientation: portrait) {
  .landscape { display: none; max-height: 100%; }
}

@media (pointer: fine) {
  .wrapper:hover .nohoveronly { height: 0; visibility: hidden; }
  .wrapper:hover .hoveronly { height: 100%; visibility: visible; }
  .wrapper:hover {
    background: black;
    color: white;
  }
  .wrapper:hover svg { fill: white }
  .wrapper:hover a { color: white; }
}

@media (pointer: coarse) {
  .hero {
    user-select: none;
  }

  #events {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }  
  .footer {
    position: relative;
    z-index: 2;
  }
}
