* {
  box-sizing: border-box;
}

@keyframes appear {
  0% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  height: 100vh;
}

body:hover {
  background: black;
}

body:hover a {
  color: white;
}

a {
  color: black;
  text-decoration: none;
}

svg { fill: black; float: left; }
body:hover svg { fill: white }

.wrapper {
  height: 100%;
  padding: 2rem;
}

.hero {
  height: inherit;
  width: 100%;
  display: flex;
  align-items: center;
}

.esistdo, .announcement {
  animation: 0.3s appear ease;
}

.esistdo {
  height: 100%;
  width: 100%;
}

.announcement {
  display: inline-block;
  transform-origin: 0% 50%;
  /* 800 because Android uses normal weight of local file otherwise */
  font-weight: 800;
  overflow-wrap: break-word;
  text-transform: uppercase;
  font-size: 5rem;
}

.announcement > .block {
  display: block;
}

.portrait, .landscape {
  width: 100%;
  max-height: 100%;
}

body .hoveronly, body:hover .nohoveronly { height: 0; visibility: hidden; }
body .nohoveronly, body:hover .hoveronly { height: 100%; visibility: visible; }

.hidden {
  display: none;
}

@media (orientation: landscape) {
  .portrait { display: none; }
}

@media (orientation: portrait) {
  .landscape { display: none; max-height: 100%; }
}
